<div class="column column-right">
<section class="hero">
  <div class="hero-body">
    <div class="container">
      <img src="https://upload.wikimedia.org/wikipedia/commons/b/b1/Rockstar_Games_Social_Club_Logo.png">
    </div>
  </div>
</section>
</div>